.hero {
    width: 100%;
    aspect-ratio: 16/5;
    border-radius: 2rem;
    padding: 1.5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    text-align: center;
    color: white;

}

.hero_title {
    font-size: clamp(16px , 2vw + 1rem, 3rem);
    text-shadow: 0 3px 0 rgb(39, 39, 39);
    color: rgb(255, 255, 255);
}

.hero_description {
    font-size: clamp(12px , 1vw + .5rem, 1.5rem);
}
/*<===============================================>*/
@media screen and (max-width : 550px) {
    .hero_title {
        font-size: 1.5rem;
    }
    
    .hero_description {
        display: none;
    }
}
@media screen and (max-width :450px) {
    .hero{
        height: 10rem;
        aspect-ratio: unset;
    }
    .hero_title {
        font-size: 1.2rem;
    }

}