.screen {
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

.wrapper {
    max-width: 90vw;
    margin: 0 auto;
    padding: 1rem;
}

/*<====================================================>*/
.header {
    padding: 1rem 0;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
}

/*<====================================================>*/
.grid {
    padding: 1rem 0;

    display: grid;
    grid-template-columns: .75fr 1fr 1fr;
    gap: 1rem;
    grid-template-areas:
        "hero hero hero"
        "aside main main";
}

.grid_hero {
    grid-area: hero;
    width: 100%;
}

.grid_aside {
    grid-area: aside;
}

.grid_main {
    grid-area: main;
}
/*<===============================================>*/
@media screen and (min-width:1500px) {
    html{
        font-size: 18px;
    }
    .wrapper{
        max-width: 1500px;
    }
}
/*<===============================================>*/
@media screen and (max-width:1100px) {
    .grid {
        grid-template-columns: 1fr;
        grid-template-areas:
            "hero"
            "aside"
            "main";
    }
}
@media screen and (max-width:900px) {
    html{
        font-size: 14px;
    }
}
@media screen and (max-width:900px) {
    html{
        font-size: 14px;
    }
}
@media screen and (max-width:500px) {
    html{
        font-size: 12px;
    }
}